*{
    /* border: 1px solid black; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(8, 31, 73);
}

.header {
    display: flex;
    justify-content: center;
    text-shadow: 3px 3px #ffffff;
}

#options {
    display: flex;
    justify-content: center;
    gap: 4em;
    padding-top: 35px;
}

.rockContainer,
.paperContainer,
.scissorsContainer {
    display: flex;
    flex-direction: column;
    gap: 2em
}

img {
    height: 100px;
}

button {
    color: white;
    background: black;
    border-radius: 5px;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textDisplay {
    font-size: 24px;
    text-shadow: 2px 2px #fff;
}
.player,
.computer {
    display: flex;
    justify-content: center;
}
#userSelection {
    border-bottom: 5px solid #4b91ca;
}
#compSelection {
    border-bottom: 5px solid #8f3030;
}
#message, #roundDisplay {
    color: rgb(180, 34, 34);
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px #fff;
}

#winnerDisplay {
    display: flex;
    flex-direction: column;
    align-items:  center;
    padding: 80px 0;
}

#winnerMessage{
    color: goldenrod;
    font-size: 18px;
    padding-bottom: 15px;
}

#winnerBox {
    background: rgb(167, 165, 165);
    border: 5px solid goldenrod;
    width: 200px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 3em;
}

#winner {
    background: rgb(167, 165, 165);
}
